# WEB SCRAPPING ASSIGNMENT-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
!Pip install Selenium

Requirement already satisfied: Selenium in c:\users\lenovo\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\lenovo\anaconda3\lib\site-packages (from Selenium) (1.25.9)

In [71]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [72]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")

In [73]:
driver.get('https://www.naukri.com/')

In [74]:
#for selecting the column to write job name
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")

In [75]:
#selecting the column to write job location
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [40]:
#selecting the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [41]:
#url of the web page to scrap data
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

In [42]:
#creating empty list to store the scraped data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [43]:
#scraping job_titles using xpath
title=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Business / Data Analyst']

In [44]:
print(len(job_title))

20

In [45]:
#scraping the job location using xpath
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    location=i.text
    job_location.append(location)
job_location[0:4]

['Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru']

In [46]:
#scraping company name using xpath
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    company=i.text
    company_name.append(company)
company_name[0:4]

['Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'IBM India Pvt. Limited']

In [47]:
#scraping experience required using xpath
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in experience:
    experience=i.text
    experience_required.append(experience)
experience_required[0:4]

['3-5 Yrs', '2-5 Yrs', '2-5 Yrs', '2-4 Yrs']

In [48]:
#creating dataframe and storing the first 10 scraped data 
jobs=pd.DataFrame({})
jobs['title']=job_title[:10]
jobs['location']=job_location[:10]
jobs['company']=company_name[:10]
jobs['experience']=experience_required[:10]

In [49]:
jobs

,title,location,company,experience
0,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,3-5 Yrs
1,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
2,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,2-5 Yrs
3,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,2-4 Yrs
4,Intern Data Analyst,Bengaluru,Outsource Big Data,0-1 Yrs
5,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-6 Yrs
6,Data Analyst,Bengaluru,Reliance Jio Infocomm Ltd.,8-9 Yrs
7,Requirement For Data Analyst(Advance excel can...,"Chennai, Bengaluru",Emagine People Technologies Private Limited,0-2 Yrs
8,SENIOR DATA ANALYST,Bengaluru,McAfee Software (India) Pvt. Ltd,7-12 Yrs
9,Data Analyst,Bengaluru,EZEU,2-7 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [327]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [340]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [341]:
#for selecting the column to write job name
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [342]:
#selecting the column to write job location
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [343]:
#selecting the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [344]:
#url of the web page to scrap data
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"
driver.get(url)

In [345]:
#creating empty list to store the scraped data
job_name=[]
Location=[]
Company=[]
Description=[]

In [349]:
#scraping job_titles using xpath
name=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in name:
    name=i.text
    job_name.append(name)
job_name[0:4]

['Data Scientist/Data Analyst-immediate',
 'Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)']

In [347]:
#scraping the job location using xpath
joblocation=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in joblocation:
    joblocation=i.text
    Location.append(joblocation)
Location[0:4]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [348]:
#scraping company name using xpath
companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in companies:
    companies=i.text
    company_names.append(companies)
company_names[0:4]

['Inflexion Analytix Private Limited',
 'Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED']

In [358]:
des1=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
for i in des1:
    des1=i.text
    Description.append(des1)

In [359]:
print(Description)

[]

In [360]:
description2=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")

In [361]:
print(description2)

[]

In [364]:
description3=driver.find_elements_by_xpath("//div[@class='f14 lh18 alignJ disc-li']/li")

In [365]:
print(description3)

[]

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [385]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [386]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.naukri.com/')

In [387]:
#for selecting the column to write job name
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [388]:
#selecting the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [390]:
from selenium.common.exceptions import ElementNotInteractableException

In [396]:
try:
    element=driver.find_element_by_xpath("//i[@class='naukicon naukicon-arrow grey-text icon-16']")
    element.click()
except ElementNotInteractableException as e:
    print("Exception Raised: ",e)
    element=driver.find_element_by_xpath("//span[@class='ellipsis fleft']")
    driver.get(element.get_attribute('href'))

In [397]:
search_loc=driver.find_element_by_xpath("//span[@class='ellipsis fleft']")
search_loc.send_keys("Delhi/NCR")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=88.0.4324.150)

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [398]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [400]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.glassdoor.co.in/index.htm')

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [232]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [233]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [235]:
#for selecting the product 
search_product=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("Sunglasses")

In [236]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [237]:
#url of the web page to scrap data
url="https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [238]:
Brand_name=[]
Description_of_product=[]
Price_of_product=[]
Discount_given=[]

In [239]:
glassname=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in glassname:
    glassname=i.text
    Brand_name.append(glassname)
Brand_name[0:4]

['ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'Fastrack']

In [240]:
print(len(Brand_name))

40

In [241]:
description=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description:
    description=i.text
    Description_of_product.append(description)
Description_of_product[0:4]

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)']

In [242]:
print(len(Description_of_product))

31

In [243]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price:
    price=i.text
    Price_of_product.append(price)
Price_of_product[0:4]

['₹499', '₹599', '₹499', '₹499']

In [244]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in discount:
    discount=i.text
    Discount_given.append(discount)
Discount_given[0:4]

['77% off', '33% off', '37% off', '37% off']

In [245]:
print(len(Brand_name),len(Description_of_product),len(Price_of_product),len(Discount_given))

40 31 40 40

In [246]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [247]:
glassname2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in glassname2:
    glassname2=i.text
    Brand_name.append(glassname2) 
Brand_name[31:35]

['Deixels', 'Fastrack', 'NuVew', 'funglasses']

In [248]:
print(len(Brand_name))

80

In [249]:
description2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description2:
    description2=i.text
    Description_of_product.append(description2)
Description_of_product[31:35]

['UV Protection, Night Vision, Gradient Retro Square, Spe...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...']

In [250]:
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price2:
    price2=i.text
    Price_of_product.append(price2)
Price_of_product[31:35]

['₹211', '₹399', '₹195', '₹118']

In [251]:
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in discount2:
    discount2=i.text
    Discount_given.append(discount2)
Discount_given[31:35]

['88% off', '50% off', '75% off', '84% off']

In [252]:
print(len(Brand_name),len(Description_of_product),len(Price_of_product),len(Discount_given))

80 64 80 80

In [253]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_btn.click()

In [254]:
glassname3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in glassname3:
    glassname3=i.text
    Brand_name.append(glassname3) 
Brand_name[80:85]

['Fastrack', 'Tazzx', 'Royal Son', 'Scaglia', 'Phenomenal']

In [255]:
description3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description3:
    description3=i.text
    Description_of_product.append(description3)

In [256]:
price3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price3:
    price3=i.text
    Price_of_product.append(price3)

In [257]:
discount3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in discount3:
    discount3=i.text
    Discount_given.append(discount3)

In [259]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [260]:
description4=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description4:
    description4=i.text
    Description_of_product.append(description4)

In [261]:
print(len(Brand_name),len(Description_of_product),len(Price_of_product),len(Discount_given))

120 126 120 120

In [262]:
#creating dataframe and storing the first 10 scraped data 
sunglasses=pd.DataFrame({})
sunglasses['glassname','glassname2','glassname3']=Brand_name[:100]
sunglasses['description','description2','description3','description4']=Description_of_product[:100]
sunglasses['price','price2','price3']=Price_of_product[:100]
sunglasses['discount','discount2','discount3']=Discount_given[:100]

In [263]:
sunglasses

,"(glassname, glassname2, glassname3)","(description, description2, description3, description4)","(price, price2, price3)","(discount, discount2, discount3)"
0,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
1,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹599,33% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
...,...,...,...,...
95,Poland,UV Protection Oval Sunglasses (56),₹140,71% off
96,Ayezent,"UV Protection, Mirrored Retro Square Sunglasse...",₹282,85% off
97,FDA COLLECTION,UV Protection Aviator Sunglasses (Free Size),₹161,83% off
98,shah collections,"UV Protection, Riding Glasses Rectangular Sung...",₹309,81% off
99,Aislin,UV Protection Rectangular Sunglasses (Free Size),₹475,68% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [455]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [456]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [457]:
#url of the web page to scrap data
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace."
driver.get(url)

In [458]:
Rating=[]
Review_summary=[]
Full_review=[]

In [459]:
irating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating:
    irating=i.text
    Rating.append(irating)
Rating[0:4]

['5', '5', '5', '']

In [460]:
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    summary=i.text
    Review_summary.append(summary)
Review_summary[0:4]

['Perfect product!', 'Great product', 'Highly recommended', '']

In [461]:
ireview=driver.find_elements_by_xpath("//div[@class='row']")
for i in ireview:
    ireview=i.text
    Full_review.append(ireview)
Full_review[0:4]

['4.6★\n30,664 Ratings &\n2,438 Reviews\n5★\n4★\n3★\n2★\n1★\n24,428\n4,035\n834\n326\n1,041',
 '4.6★',
 '4.7\nCamera\n4.5\nBattery\n4.3\nDisplay\n4.5\nValue for Money',
 '+ 1295']

In [462]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 46

In [465]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [466]:
irating2=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating2:
    irating2=i.text
    Rating.append(irating2)

In [467]:
summary2=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary2:
    summary2=i.text
    Review_summary.append(summary2)

In [468]:
ireview2=driver.find_elements_by_xpath("//div[@class='row']")
for i in ireview2:
    ireview2=i.text
    Full_review.append(ireview2)

In [469]:
print(len(Rating),len(Review_summary),len(Full_review))

20 20 88

In [470]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [472]:
irating3=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating3:
    irating3=i.text
    Rating.append(irating3)

In [473]:
summary3=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary3:
    summary3=i.text
    Review_summary.append(summary3)

In [474]:
ireview3=driver.find_elements_by_xpath("//div[@class='row']")
for i in ireview3:
    ireview2=i.text
    Full_review.append(ireview3)

In [475]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [476]:
irating4=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating4:
    irating4=i.text
    Rating.append(irating4)

In [477]:
summary4=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary4:
    summary4=i.text
    Review_summary.append(summary4)

In [478]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [479]:
irating5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating5:
    irating5=i.text
    Rating.append(irating5)

In [480]:
summary5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary5:
    summary5=i.text
    Review_summary.append(summary5)

In [481]:
print(len(Rating),len(Review_summary),len(Full_review))

53 50 130

In [482]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [483]:
irating6=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating6:
    irating6=i.text
    Rating.append(irating6)

In [484]:
summary6=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary6:
    summary6=i.text
    Review_summary.append(summary6)

In [485]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [486]:
irating7=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating7:
    irating7=i.text
    Rating.append(irating7)

In [487]:
summary7=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary7:
    summary7=i.text
    Review_summary.append(summary7)

In [489]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [490]:
irating8=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating8:
    irating8=i.text
    Rating.append(irating8)

In [491]:
summary8=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary8:
    summary8=i.text
    Review_summary.append(summary8)

In [493]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [494]:
irating9=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating9:
    irating9=i.text
    Rating.append(irating9)

In [495]:
summary9=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary9:
    summary9=i.text
    Review_summary.append(summary9)

In [496]:
print(len(Rating),len(Review_summary),len(Full_review))

93 90 130

In [498]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next_btn.click()

In [499]:
irating10=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in irating10:
    irating10=i.text
    Rating.append(irating10)

In [500]:
summary10=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary10:
    summary10=i.text
    Review_summary.append(summary10)

In [501]:
print(len(Rating),len(Review_summary),len(Full_review))

113 100 130

In [502]:
#creating dataframe and storing the first 10 scraped data 
iphone=pd.DataFrame({})
iphone['irating','irating2','irating3','irating4','irating5','irating6','irating7','irating8','irating9','irating10']=Rating[:100]
iphone['summary','summary2','summary3','summary4','summary5','summary6','summary7','summary8','summary9','summary10']=Review_summary[:100]
iphone['ireview','ireview2','ireview3']=Full_review[:100]

In [503]:
iphone

,"(irating, irating2, irating3, irating4, irating5, irating6, irating7, irating8, irating9, irating10)","(summary, summary2, summary3, summary4, summary5, summary6, summary7, summary8, summary9, summary10)","(ireview, ireview2, ireview3)"
0,5,Perfect product!,"4.6★\n30,664 Ratings &\n2,438 Reviews\n5★\n4★\..."
1,5,Great product,4.6★
2,5,Highly recommended,4.7\nCamera\n4.5\nBattery\n4.3\nDisplay\n4.5\n...
3,,,+ 1295
4,,,5\nPerfect product!
...,...,...,...
95,5,Brilliant,[<selenium.webdriver.remote.webelement.WebElem...
96,5,Worth every penny,[<selenium.webdriver.remote.webelement.WebElem...
97,5,Wonderful,[<selenium.webdriver.remote.webelement.WebElem...
98,5,Great product,[<selenium.webdriver.remote.webelement.WebElem...
99,5,Highly recommended,[<selenium.webdriver.remote.webelement.WebElem...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [297]:
#importing the libraries required
import selenium
import pandas as pd
from selenium import webdriver

In [298]:
driver=webdriver.Chrome("C:\Web driver\\chromedriver.exe")
driver.get('https://www.flipkart.com/')

In [300]:
#for selecting the product 
search_product=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
search_product.send_keys("Sneakers")

In [301]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [302]:
#url of the web page to scrap data
url="https://www.flipkart.com/search?q=Sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver.get(url)

In [303]:
Sneaker_Brand=[]
Sneaker_Description=[]
Sneaker_Price=[]
Sneaker_Discount=[]

In [304]:
sneakername=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in sneakername:
    sneakername=i.text
    Sneaker_Brand.append(sneakername)
Sneaker_Brand[0:4]

['Chevit', 'Robbie jones', 'World Wear Footwear', 'Oricum']

In [305]:
sneakerdescription=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in sneakerdescription:
    sneakerdescription=i.text
    Sneaker_Description.append(sneakerdescription)
Sneaker_Description[0:4]

['Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 "White Sneaker For Men's/Boy's Sneakers For Men"]

In [306]:
sneakerprice=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in sneakerprice:
    sneakerprice=i.text
    Sneaker_Price.append(sneakerprice)
Sneaker_Price[0:4]

['₹474', '₹399', '₹499', '₹398']

In [307]:
sneakerdiscount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in sneakerdiscount:
    sneakerdiscount=i.text
    Sneaker_Discount.append(sneakerdiscount)
Sneaker_Discount[0:4]

['76% off', '60% off', '75% off', '60% off']

In [308]:
print(len(Sneaker_Brand),len(Sneaker_Description),len(Sneaker_Price),len(Sneaker_Discount))

40 33 40 40

In [309]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_btn.click()

In [310]:
sneakername2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in sneakername2:
    sneakername2=i.text
    Sneaker_Brand.append(sneakername2)

In [311]:
sneakerdescription2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in sneakerdescription2:
    sneakerdescription2=i.text
    Sneaker_Description.append(sneakerdescription2)

In [312]:
sneakerprice2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in sneakerprice2:
    sneakerprice2=i.text
    Sneaker_Price.append(sneakerprice2)

In [313]:
sneakerdiscount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in sneakerdiscount2:
    sneakerdiscount2=i.text
    Sneaker_Discount.append(sneakerdiscount2)

In [314]:
print(len(Sneaker_Brand),len(Sneaker_Description),len(Sneaker_Price),len(Sneaker_Discount))

80 64 80 80

In [315]:
next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_btn.click()

In [320]:
sneakername3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in sneakername3:
    sneakername3=i.text
    Sneaker_Brand.append(sneakername3)

In [321]:
sneakerdescription3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in sneakerdescription3:
    sneakerdescription3=i.text
    Sneaker_Description.append(sneakerdescription3)

In [322]:
sneakerprice3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in sneakerprice3:
    sneakerprice3=i.text
    Sneaker_Price.append(sneakerprice3)

In [323]:
sneakerdiscount3=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in sneakerdiscount3:
    sneakerdiscount3=i.text
    Sneaker_Discount.append(sneakerdiscount3)

In [324]:
print(len(Sneaker_Brand),len(Sneaker_Description),len(Sneaker_Price),len(Sneaker_Discount))

120 130 160 160

In [325]:
#creating dataframe and storing the first 10 scraped data 
sneakers=pd.DataFrame({})
sneakers['sneakername','sneakername2','sneakername3']=Sneaker_Brand[:100]
sneakers['sneakerdescription','sneakerdescription2','sneakerdescription3']=Sneaker_Description[:100]
sneakers['sneakerprice','sneakerprice2','sneakerprice3']=Sneaker_Price[:100]
sneakers['sneakerdiscount','sneakerdiscount2','sneakerdiscount3']=Sneaker_Discount[:100]

In [326]:
sneakers

,"(sneakername, sneakername2, sneakername3)","(sneakerdescription, sneakerdescription2, sneakerdescription3)","(sneakerprice, sneakerprice2, sneakerprice3)","(sneakerdiscount, sneakerdiscount2, sneakerdiscount3)"
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
1,Robbie jones,Combo Pack of 4 Latest Collection Stylish Casu...,₹399,60% off
2,World Wear Footwear,Combo pack of 2 casual sneaker shoes for men S...,₹499,75% off
3,Oricum,White Sneaker For Men's/Boy's Sneakers For Men,₹398,60% off
4,Shoes Bank,Sneakers For Men,₹349,65% off
...,...,...,...,...
95,LeatherKraft,Sneakers For Men,₹299,70% off
96,Echor,Sneakers For Men,₹601,39% off
97,World Wear Footwear,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹228,54% off
98,Magnolia,Combo Pack of 4 Latest Collection Stylish Casu...,₹348,65% off
99,T-Rock,Combo pack of 2 casual sneaker shoes for men S...,₹399,60% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”